* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
}
p {
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
h1 {
  margin: 0;
  text-align: center;
}
hr {
  margin: 0;
}

.forms {
  min-width: 60vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.forms > * {
  display: flex;
  justify-content: center;
}
label {
  color: rgb(104, 104, 104);
  font-family: "Tsukushi B Round Gothic";
}

.selecter > label:not(:first-child) {
  margin: 0 10px 0 20px;
}

.selecter > label:first-child {
  margin-right: 10px;
}

input[type="text"],
input[tyep="file"] {
  width: 80%;
}

input[type="text"],
input[type="file"],
textarea {
  border-radius: 10px;
  margin: auto;
}

textarea {
  width: 80%;
}

button {
  width: 100px;
  margin: 0 auto 30px;
  border-radius: 30px;
  cursor: pointer;
}

/* header */
header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(132, 171, 243);
  justify-content: center;
}
.header-top {
  display: flex;
  height: 70%;
  width: 100%;
  background-color: rgb(132, 171, 243);
}
.header-top > p {
  padding: 0;
}

header h1 {
  color: #ffffff;
  height: 100%;
  font-family: "Hannotate SC";
  border-radius: 10px;
  margin: 0 0 0 3vw;
  cursor: pointer;
  flex: 7;
  display: flex;
  align-items: center;
  text-align: left;
}
.user-auth {
  flex: 3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.user-auth li:not(:first-child) {
  margin-left: 10px;
}

.header-link {
  width: 100%;
  height: 100%;
  transition: opacity 0.8s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header-link:hover {
  color: yellow;
}

.user-info {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-info > * {
  margin-right: 3vw;
}

.user-info p {
  color: #ffffff;
}

.user {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 40px;
  color: rgb(255, 255, 255);
}
#menus {
  cursor: pointer;
  color: #fff;
}
.overlay {
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 400px;
  right: 0;
  background-color: rgb(255, 255, 255);
  outline: black solid 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
  cursor: pointer;
}

.overlay a {
  display: inline-block;
}
.overlay a,
.overlay p {
  color: black;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 100%;
}
.overlay a:hover,
.overlay p:hover {
  color: #fff;
  background-color: blue;
}
.overlay li:not(:first-child) {
  margin-top: 10px;
}

.header-bottom {
  height: 30%;
  background-color: rgb(148, 148, 148);
}

.header-bottom ul {
  display: flex;
  height: 100%;
  justify-content: center;
}

.header-bottom li {
  height: 100%;
}

.header-bottom li:not(:first-child) {
  margin-left: 5vw;
}

.require-named {
  display: flex;
  justify-content: center;
  align-items: center;
}
.require-named > * {
  margin-right: 3vw;
}

/* main */
main {
  margin: auto;
  min-height: 65vh;
  max-width: 90vw;
  padding: 30px 0;
}
/* home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-links {
  width: 60vw;
  display: flex;
  justify-content: space-around;
}
.post-link,
.list-link {
  position: relative;
  cursor: pointer;
  transition: opacity 1s;
}
.list-link img,
.post-link img {
  width: 30vw;
  height: 40vh;
  transition: opacity 0.5s;
}

.list-link:hover .list-link-img,
.post-link:hover .post-link-img {
  opacity: 0.4;
}
.list-link:hover .list-link-p,
.post-link:hover .post-link-p {
  opacity: 1;
}
.list-link p,
.post-link p {
  font-size: 20px;
  color: rgb(91, 90, 90);
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
}

/* signup */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup h1 {
  color: #f4f5f7;
  font-family: "Tsukushi B Round Gothic";
  flex: 2;
  background-color: #ff5353;
  border-radius: 40px 40px 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-form label {
  color: black;
  font-size: 15px;
  font-weight: 600;
  width: 80%;
  text-align: left;
  margin: 0 auto;
}
.signup-form input {
  margin: 10px auto 20px;
}

.trip-datas {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* list */

.list h1 {
  font-family: "Tsukushi B Round Gothic";
  color: ivory;
  -webkit-text-stroke: 1px black;
}
.trip-data {
  cursor: pointer;
  transition: opacity 1s;
  margin-top: 30px;
  display: flex;
  width: 80vw;
  min-height: 150px;
  background-color: #eb1d36;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.trip-data p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.trip-data:hover {
  opacity: 0.8;
}

.trip-data:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}
.trip-data-main {
  flex: 5;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 20px 0 0 20px;
}
.trip-details {
  background-color: #eb1d36;
  flex: 1;
  border-left: dotted thick black;
}
.good {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.good-button {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.trip-details small {
  color: #fff;
}
.trip-details p {
  text-align: center;
  color: #fff;
}
.trip-theme {
  background-color: #eb1d36;
  flex: 1;
  text-align: center;
  font-size: 20px;
  border-radius: 20px 0 0 0;
}

.trip-theme p {
  color: #fff;
  font-family: serif;
}

.trip-destination {
  background-color: #fff;
  flex: 3;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

/* detail */
.detail {
  flex: 1;
  text-align: center;
}
.trip-data > nav {
  background-color: #fff;
  width: 95%;
  display: flex;
  margin: 0 auto 20px;
  border-radius: 0 0 10px 10px;
}
.link {
  flex: 1;
  text-align: center;
}

.detail h1,
.detail p,
.detail h3 {
  font-family: "Tsukushi B Round Gothic";
}
.detail-data {
  min-height: 500px;
  background-color: #f5f869;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80vw;
}
.detail-data a {
  color: rgb(188, 142, 142);
}

.detail-data-header {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.detail-data-main {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 50%;
  height: 80%;
  margin: auto;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: translate(-50%, 50%); */
}
.detail-data-detail {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-data-links {
  flex: 1;
  display: flex;
}

/* postForm */
/* .post-form {
  background-color: #dac9a6;
  margin: 30px auto 100px;
  width: 90%;
  border-radius: 40px;
} */

.post-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-form h1 {
  color: #f4f5f7;
  font-family: "Tsukushi B Round Gothic";
  height: 10vh;
  line-height: 10vh;
  background-color: #e2943b;
  border-radius: 40px 40px 0 0;
}

.not-signin-postform,
.uploading,
.uploaded {
  height: 459px;
  margin: 30px auto 100px;
  text-align: center;
  line-height: 459px;
}

/* updateForm */
.update-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-form h1 {
  color: #f4f5f7;
  font-family: "Tsukushi B Round Gothic";
  height: 10vh;
  line-height: 10vh;
  background-color: #e2943b;
  border-radius: 40px 40px 0 0;
}

/* profile */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile h1 {
  color: #f4f5f7;
  font-family: "Tsukushi B Round Gothic";
  background-color: #e2943b;
  border-radius: 40px 40px 0 0;
  margin: 0;
}

.profile-form {
  flex: 9;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile input,
.profile button {
  margin: 0 auto;
}

/* signin */
.signin {
  display: flex;
  width: 90%;
}
.email-signin {
  background-color: #fff;
  border-radius: 20px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.google-signin {
  background-color: #fff;
  border-radius: 20px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 30px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.signin h2 {
  margin: 0;
  background-color: #5fa0ffdb;
  font-size: 20px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  color: #fff;
}
.signin-form {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signin-form label {
  color: black;
  font-size: 15px;
  font-weight: 600;
  width: 80%;
  text-align: left;
  margin: 0 auto;
}
.signin-form input {
  margin: 10px auto 20px;
}

.signin-form button {
  background-color: dodgerblue;
  border: dodgerblue 1px solid;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  height: 30px;
  width: 100px;
}

/* mypage */
.no-mybrochures {
  height: 459px;
  margin: 30px auto 100px;
  text-align: center;
  line-height: 459px;
}
/* footer */

footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
}

@media screen {
}
